<h2 class="ml-3">Ingreso de Proyectos</h2>

<form method="posts" action="posts/create" id="create_project">
  <div class="form-group col-md-6">
    <label for="InputNombre">Nombre Proyecto</label>
    <input type="nombre" name="nombre" class="form-control" id="nombre" aria-describedby="emailHelp">
  </div>
  <div class="form-group col-md-6">
    <label for="InputDescripcion">Descripcion</label>
    <input type="descripcion" name="descripcion" class="form-control" id="descripcion">
  </div>
  <div class="form-group col-md-2">
    <label for="InputDescripcion">Fecha de comienzo</label>
    <input type="date" name="fecha_comienzo" class="form-control" id="fecha_comienzo">
  </div>
  <div class="form-group col-md-2">
    <label for="InputDescripcion">Fecha de término</label>
    <input type="date" name="fecha_termino" class="form-control" id="fecha_termino">
  </div>
  <div class="form-group col-md-2">
    <label for="inputState">Estado</label>
    <select id="inputState" class="form-control" name="estado">
        <option value="propuesta"> Propuesta</option>
        <option value="en progreso">En Progreso</option>
        <option value="terminado"> Terminado</option>
    </select>
  </div>
  <button type="submit" class="ml-3 btn btn-primary">Submit</button>
</form>
